<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>Новая задача</h1>
    <form th:action="@{/add}" th:method="post" th:object="${todoItem}">
        <label for="name">Название</label>
        <input id="name" type="text" name="text">
<!--        <label for="subtasksIds">ID Подзадач</label>-->
<!--        <input id="subtasksIds" type="text" name="subtasksIds">-->
        <input type="submit" value="Добавить">
    </form>
</div>
<div>
    <h1>Список задач</h1>
    <p th:each="item : ${todos}">
        <span th:text="${item}"></span>
<!--        <input type="checkbox" th:onclick="|window.location.href='/switchState/${item.id}'|" th:checked="${item.state}">-->
<!--        <button th:onclick="|window.location.href='/delete/${item.id}'|">Удалить</button>-->
    </p>
</div>
</body>
</html>